{% extends 'root.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12 m-b-30">
            <!-- begin page title -->

            <form method="POST" action="{% url 'requisition_phase1' %}">
                {% csrf_token %}
                
                {{ form|crispy}}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}