{% extends 'root.html' %}
{% block content %}
<div class="container-fluid">
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12 m-b-30">
            <!-- begin page title -->

            <form method="POST" action="{% url 'requisition_phase1' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_amount">Amount</label>
                    {{ form.amount }}
                </div>
                <div class="form-group">
                    <label for="id_reason">Reason</label>
                    {{ form.reason }}
                </div>
                <div class="form-group">
                    <label for="id_department">Department</label>
                    {{ form.department }}
                </div>
                <div class="form-group">
                    <label for="id_requester">Requester</label>
                    {{ form.requester }}
                </div>
                <div class="form-group">
                    <label for="id_request_date">Request Date</label>
                    {{ form.request_date }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}