{% extends 'root.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <!-- first row -->
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="control-label">Requested By</label>
                <input type="text" class="form-control" placeholder="Your full name" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="control-label">Ushs</label>
                <input type="number" class="form-control" placeholder="Figures" />
            </div>
        </div> 
    </div>
    <!-- Second row -->
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="control-label">Tel/No</label>
                <input type="number" class="form-control" placeholder="Your Mobile No" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="control-label">Amount</label>
                <input type="text" class="form-control" placeholder="Amount In words" />
            </div>
        </div> 
    </div>
    <!-- Third row -->
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="control-label">Reason</label>
                <input type="text" class="form-control" placeholder="Enter the reason" />
            </div>
        </div> 
        <div class="col-6">
            <div class="form-group">
                <label class="control-label">Date</label>
                <input type="date" class="form-control" placeholder="date" />
            </div>
  
        </div>
    </div>
    <!--  row Five -->
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="control-label">Department</label>
                <select class="form-control" placeholder="Select Department">
                    <option value=".....">..........</option>
                    <option value="department1">department 1</option>
                    <option value="department2">department 2</option>
                    
                </select>
            </div>
        </div> 
       
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success">Save</button>
    </div>
</div>
{% endblock content %}