{% extends 'root.html' %}
{% load static %}

{% block content %}
<div class="row crypto-currency">
    <div class="col-lg-12">
        <div class="card card-statistics crypto-currency">
            <div class="card-header d-flex justify-content-between">
                <div class="card-heading">
                    <h4 class="card-title">Recent Orders</h4>
                </div>
                <div class="dropdown">
                    <a class="p-2 export-btn" href="#!" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Export
                    </a>
                    <div class="dropdown-menu custom-dropdown dropdown-menu-right p-4">
                        <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-file-pdf-o pr-2"></i>Export to PDF</a>
                        <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-file-excel-o pr-2"></i>Export to CSV</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="datatable-wrapper table-responsive">
                    <table id="datatable" class="table table-borderless crypto-table w-100">
                        <thead class="bg-light">
                            <tr>
                                <th>Requisition ID</th>
                                <th>Requester</th>
                                <th>Amount</th>
                                <th>Department</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for requisition in requisitions %}
                            <tr>
                                <td>{{ requisition.id }}</td>
                                <td>{{ requisition.requester }}</td>
                                <td>{{ requisition.amount }}</td>
                                <td>{{ requisition.department }}</td>
                                <td>{{ requisition.status }}</td>
                                <td>
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#approvalModal{{ requisition.id }}">Approve</button>
                                </td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="approvalModal{{ requisition.id }}" tabindex="-1" role="dialog" aria-labelledby="approvalModalLabel{{ requisition.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="approvalModalLabel{{ requisition.id }}">Approve Requisition for {{ requisition.requester }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" >
                                            
                                        </div>
                                        <div class="modal-body" id="approvalModalBody{{ requisition.id }}">
                                            <form id="approvalForm{{ requisition.id }}" method="POST" action="{% url 'department_approval' requisition.id %}">
                                                {% csrf_token %}
                                                {{ form|crispy}}
                                                <div class="form-group">
                                                    <label for="comments">Comments:</label>
                                                    <textarea class="form-control" id="comments{{ requisition.id }}" name="comments" rows="3"></textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary" onclick="submitApprovalForm({{ requisition.id }})">Approve</button>
                                                    <button type="submit" class="btn btn-danger">Reject</button> 
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function submitApprovalForm(requisitionId) {
        var comments = document.getElementById('comments' + requisitionId).value.trim();
        if (!comments) {
            alert('Please enter a comment.');
            return;
        }
        var csrftoken = getCookie('csrftoken');
        var url = '/staff/approve/' + requisitionId + '/';
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRFToken', csrftoken);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    console.log('Approval successful');
                } else {
                    console.error('Approval failed');
                }
            }
        };
        xhr.send('comments=' + encodeURIComponent(comments));
    }
</script>
{% endblock content %}
